In [1]:
import MySQLdb

conn = MySQLdb.connect(host='myserver', user = 'play', passwd= '123', db='encore')
cursor = conn.cursor()

In [2]:
sql = "ALTER TABLE profile MODIFY NUMBER VARCHAR(10)"

In [4]:
cursor.execute(sql)

0

In [8]:
sql = "INSERT INTO profile VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
cursor.execute(sql, ['50107', '강민', '100', '2001-04-20', '투수(우투우타)', '188', '88', '수유초-홍은중-서울고', '8000만원', 3000.0, '20 LG 2차 4라운드 33순위', ' ', 'LG 트윈스', 24.898143956541425])
conn.commit()

In [9]:
cursor.execute('TRUNCATE TABLE profile')

0

In [10]:
import pickle 
with open("./kbo.pkl", "rb" )  as f:
    kbo_data = pickle.load(f)

In [12]:
import pandas as pd
df = pd.DataFrame(kbo_data)

In [14]:
df

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,id
0,강민,No.100,2001년 04월 20일,투수(우투우타),188cm/88kg,수유초-홍은중-서울고,8000만원,3000만원,20 LG 2차 4라운드 33순위,,LG 트윈스,50105
1,강민균,No.117,2000년 07월 17일,내야수(우투우타),178cm/81kg,강남초-서울이수중-덕수고-홍익대,3000만원,,23 LG 11라운드 107순위,,LG 트윈스,53103
2,고영웅,No.116,2004년 07월 29일,투수(좌투좌타),180cm/90kg,태전초(경기광주시리틀)-모가중-야로고BC-동원대,3000만원,3000만원,25 LG 10라운드 100순위,,LG 트윈스,55116
3,곽민호,No.124,2004년 12월 23일,내야수(우투우타),184cm/90kg,역삼초-자양중-배명고,3000만원,,23 LG 10라운드 97순위,,LG 트윈스,53104
4,구본혁,No.6,1997년 01월 11일,내야수(우투우타),177cm/75kg,중대초-잠신중-장충고-동국대-LG-상무,5000만원,13500만원,19 LG 2차 6라운드 55순위,19LG,LG 트윈스,69100
...,...,...,...,...,...,...,...,...,...,...,...,...
951,최주환,No.53,1988년 02월 28일,내야수(우투좌타),177cm/73kg,학강초-광주동성중-광주동성고-두산-상무-두산-SK-SSG,6000만원,30000만원,06 두산 2차 6라운드 46순위,06두산,키움 히어로즈,76267
952,카디네스,No.4,1997년 10월 10일,외야수(우투우타),185cm/93kg,미국 California State(대)-삼성,,450000달러,24 삼성 자유선발,24삼성,키움 히어로즈,54444
953,푸이그,No.,1990년 12월 07일,외야수(우투우타),188cm/108kg,쿠바 EIEFD(대)-키움,300000달러,1000000달러,22 키움 자유선발,22키움,키움 히어로즈,52366
954,하영민,No.50,1995년 05월 07일,투수(우투우타),183cm/74kg,광주수창초-진흥중-진흥고-히어로즈,15000만원,16500만원,14 넥센 2차 1라운드 4순위,14넥센,키움 히어로즈,64350
955,한민우,No.104,1999년 04월 27일,투수(좌투좌타),177cm/82kg,동일중앙초-경남중-경남고,1000만원,,23 KT 육성선수,,고양 히어로즈,53096

In [16]:
# df.생년월일.apply(lambda x : x.r

import re
p = re.compile("[0-9]+") # 숫자만 출력

In [19]:
"-".join(p.findall("2025년 12월 31일"))

'2025-12-31'

In [23]:
df.생년월일 = df.생년월일.apply(lambda x : '-'.join(p.findall(x)))

In [32]:
df

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,id
0,강민,No.100,2001-04-20,투수(우투우타),188cm/88kg,수유초-홍은중-서울고,8000만원,3000만원,20 LG 2차 4라운드 33순위,,LG 트윈스,50105
1,강민균,No.117,2000-07-17,내야수(우투우타),178cm/81kg,강남초-서울이수중-덕수고-홍익대,3000만원,,23 LG 11라운드 107순위,,LG 트윈스,53103
2,고영웅,No.116,2004-07-29,투수(좌투좌타),180cm/90kg,태전초(경기광주시리틀)-모가중-야로고BC-동원대,3000만원,3000만원,25 LG 10라운드 100순위,,LG 트윈스,55116
3,곽민호,No.124,2004-12-23,내야수(우투우타),184cm/90kg,역삼초-자양중-배명고,3000만원,,23 LG 10라운드 97순위,,LG 트윈스,53104
4,구본혁,No.6,1997-01-11,내야수(우투우타),177cm/75kg,중대초-잠신중-장충고-동국대-LG-상무,5000만원,13500만원,19 LG 2차 6라운드 55순위,19LG,LG 트윈스,69100
...,...,...,...,...,...,...,...,...,...,...,...,...
951,최주환,No.53,1988-02-28,내야수(우투좌타),177cm/73kg,학강초-광주동성중-광주동성고-두산-상무-두산-SK-SSG,6000만원,30000만원,06 두산 2차 6라운드 46순위,06두산,키움 히어로즈,76267
952,카디네스,No.4,1997-10-10,외야수(우투우타),185cm/93kg,미국 California State(대)-삼성,,450000달러,24 삼성 자유선발,24삼성,키움 히어로즈,54444
953,푸이그,No.,1990-12-07,외야수(우투우타),188cm/108kg,쿠바 EIEFD(대)-키움,300000달러,1000000달러,22 키움 자유선발,22키움,키움 히어로즈,52366
954,하영민,No.50,1995-05-07,투수(우투우타),183cm/74kg,광주수창초-진흥중-진흥고-히어로즈,15000만원,16500만원,14 넥센 2차 1라운드 4순위,14넥센,키움 히어로즈,64350
955,한민우,No.104,1999-04-27,투수(좌투좌타),177cm/82kg,동일중앙초-경남중-경남고,1000만원,,23 KT 육성선수,,고양 히어로즈,53096

In [25]:
df.head(1)

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,id
0,강민,No.100,2001-04-20,투수(우투우타),188cm/88kg,수유초-홍은중-서울고,8000만원,3000만원,20 LG 2차 4라운드 33순위,,LG 트윈스,50105

In [34]:
df = pd.concat([df, df['신장/체중'].str.split('/', expand= True)], axis = 1) # concat 붙이는 역할

In [37]:
df.rename(columns = {0 : 'HEIGHT', 1 : 'WEIGHT' }, inplace = True)

In [40]:
df.drop(['신장/체중'], axis = 1, inplace = True)

In [46]:
df.연봉.apply(lambda x : x == "").sum()

42

In [44]:
df.HEIGHT.apply(lambda x : len(x) == 2).sum()

10

In [ ]:
# 비트 연산자 계산법 이진수 
100
110 
---
100`

In [48]:
4 & 6

4

In [49]:
1 << 16

65536

In [52]:
df[df.연봉.apply(lambda x : x != "") & df.HEIGHT.apply(lambda x : len(x) > 2)] # 데이터프레임 안에서는 비트 연산자 사용

,선수명,등번호,생년월일,포지션,경력,입단 계약금,연봉,지명순위,입단년도,Team,id,HEIGHT,WEIGHT
0,강민,No.100,2001-04-20,투수(우투우타),수유초-홍은중-서울고,8000만원,3000만원,20 LG 2차 4라운드 33순위,,LG 트윈스,50105,188cm,88kg
2,고영웅,No.116,2004-07-29,투수(좌투좌타),태전초(경기광주시리틀)-모가중-야로고BC-동원대,3000만원,3000만원,25 LG 10라운드 100순위,,LG 트윈스,55116,180cm,90kg
4,구본혁,No.6,1997-01-11,내야수(우투우타),중대초-잠신중-장충고-동국대-LG-상무,5000만원,13500만원,19 LG 2차 6라운드 55순위,19LG,LG 트윈스,69100,177cm,75kg
5,권동혁,No.132,2003-03-20,외야수(우투우타),(천안유소년리틀)-온양중-라온고,6000만원,3000만원,23 LG 6라운드 57순위,23LG,LG 트윈스,53168,194cm,97kg
6,김강률,No.37,1988-08-28,투수(우투우타),문촌초(일산리틀)-장성중-경기고-두산-상무-두산,8000만원,10000만원,07 두산 2차 4라운드 26순위,07두산,LG 트윈스,77263,187cm,95kg
...,...,...,...,...,...,...,...,...,...,...,...,...,...
950,주승우,No.,2000-01-30,투수(우투우타),송추초(의정부리틀)-영동중-서울고-성균관대,18000만원,7700만원,22 키움 1차,22키움,키움 히어로즈,52330,180cm,82kg
951,최주환,No.53,1988-02-28,내야수(우투좌타),학강초-광주동성중-광주동성고-두산-상무-두산-SK-SSG,6000만원,30000만원,06 두산 2차 6라운드 46순위,06두산,키움 히어로즈,76267,177cm,73kg
952,카디네스,No.4,1997-10-10,외야수(우투우타),미국 California State(대)-삼성,,450000달러,24 삼성 자유선발,24삼성,키움 히어로즈,54444,185cm,93kg
953,푸이그,No.,1990-12-07,외야수(우투우타),쿠바 EIEFD(대)-키움,300000달러,1000000달러,22 키움 자유선발,22키움,키움 히어로즈,52366,188cm,108kg
954,하영민,No.50,1995-05-07,투수(우투우타),광주수창초-진흥중-진흥고-히어로즈,15000만원,16500만원,14 넥센 2차 1라운드 4순위,14넥센,키움 히어로즈,64350,183cm,74kg

In [72]:
df2 = df[df.연봉.apply(lambda x : x != "") & df.HEIGHT.apply(lambda x :  len(x) > 2)].copy()

In [73]:
df2.shape

(914, 13)

In [75]:
df2['BMI'] = df2.WEIGHT.apply(lambda x : int(p.findall(x)[0])) /  \
    (df2.HEIGHT.apply(lambda x : int(p.findall(x)[0])) / 100 ) ** 2

In [80]:
df2.HEIGHT = df2.HEIGHT.apply(lambda x : x.replace("cm", "")).astype(int)
df2.WEIGHT = df2.WEIGHT.apply(lambda x : x.replace("kg", "")).astype(int)

In [83]:
def temp(x):
    if x [-2:] == '만원':
        return int(x[:-2])
    else:
        return int(x[:-2]) * 1450 /10000

In [86]:
df2.연봉 = df2.연봉.apply(temp)

In [88]:
trans_dict = {'선수명' : 'NAME',
'등번호' : 'NUMBER',
'생년월일' : 'BIRTH_DAY',
'포지션' : 'POSITION',
'경력' : 'CAREER', 
'입단 계약금' : 'SIGNING_BONUS',
'연봉' : 'SALARY',
'지명순위' : 'DRAFT_PICK', 
'입단년도' : 'JOIN_YEAR',
'Team' : 'TEAM', 
'id' : 'ID'}

In [90]:
df2.rename(columns = trans_dict, inplace=True)

In [96]:
df2 = df2[pd.read_sql_query("desc profile", con = conn).Field.tolist()]

C:\Users\playdata2\AppData\Local\Temp\ipykernel_6560\3353282770.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = df2[pd.read_sql_query("desc profile", con = conn).Field.tolist()]

In [104]:
sql = "INSERT INTO profile VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
for idx, row in df2.iterrows():
    try:
        cursor.execute(sql, row.tolist())
    except Exception as e:
        print(e)

(1062, "Duplicate entry '50105' for key 'profile.PRIMARY'")
nan can not be used with MySQL

In [106]:
conn.commit()

In [108]:
df2.isnull().sum()

ID               0
NAME             0
NUMBER           0
BIRTH_DAY        0
POSITION         0
HEIGHT           0
WEIGHT           0
CAREER           0
SIGNING_BONUS    0
SALARY           0
DRAFT_PICK       0
JOIN_YEAR        0
TEAM             0
BMI              1
dtype: int64