<a href="https://colab.research.google.com/github/MunSu2001/File/blob/main/20260107_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys

In [ ]:
data = sys.stdin.readline()

In [ ]:
n = int(input())

 4

```
4
Baha enter
Askar enter
Baha leave
Artem enter
```

In [ ]:
list_check = []
for _ in range(n):
    name, check = input().split()
    if check == 'enter':
        list_check.append(name)
    else:
        list_check.remove(name)

 Baha enter
 Askar enter
 Baha leave
 Artem enter

In [ ]:
list_check.sort(reverse=True)

In [ ]:
for name in list_check:
    print(name)

Askar
Artem

In [ ]:
name, check = data.split()

In [ ]:
a = ['a', 'b', 'c']

In [ ]:
a.index('b')

1

In [ ]:
dir(a)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
help(a.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [ ]:
a.remove('b')

ValueError: list.remove(x): x not in list

In [ ]:
a

['a']

In [ ]:
Baha enter
Askar enter
Baha leave
Artem enter

In [ ]:
n = int(input())
list_check = dict()
for _ in range(n):
    name, check = input().split()
    if check == 'enter':
        list_check[name] = 1
    else:
        del list_check[name]

for name, _ in sorted(list_check.items(), key=lambda x : x[0], reverse=True):
    print(name)

 4
 Baha enter
 Askar enter
 Baha leave
 Artem enter

Artem
Askar

In [ ]:
dict_1 = {'a' : 4, 'b' : 3, 'c' :5}

In [ ]:
del dict_1['a']

In [ ]:
dict_1

{}

In [ ]:
dict_1 = {'a' : 4, 'b' : 3, 'c' :5}

In [ ]:
sorted(dict_1.items(), key=lambda x : x[1])

[('b', 3), ('a', 4), ('c', 5)]

In [ ]:
dict_1 = {'aa' : 4, 'ab' : 3, 'ac' :5}

In [ ]:
for x, _ in sorted(dict_1.items(), key=lambda x : x[0]):
    print(x)

aa
ab
ac

In [ ]:
'201107' > '20260101'

False

In [ ]:
hex(ord('A'))

'0x41'

In [ ]:
import pandas as pd

In [ ]:
# 데이터 전처리
# preprocessing
# 목적 -> 데이터 수집(DB, 외부사이트)  -> 전처리 ->  모델 학습 (분류, 예측)
#help(pd.read_csv)
kbo_df= pd.read_csv("./kbo.csv")

In [ ]:
kbo_df.shape

(870, 11)

In [ ]:
kbo_df.loc[ 1 , '경력']

'태전초(경기광주시리틀)-모가중-야로고BC-동원대'

In [ ]:
kbo_df.iloc[1, 5]

'태전초(경기광주시리틀)-모가중-야로고BC-동원대'

In [ ]:
height = int("188cm/88kg".split('/')[0].replace("cm", ""))

In [ ]:
weight = int("188cm/88kg".split('/')[1].replace("kg", ""))

In [ ]:
round(weight / (height/100)**2,2)

24.9

In [ ]:
#None, nan
# ''
kbo_df['신장/체중'].isnull().sum()

0

In [ ]:
kbo_df[kbo_df['신장/체중'].apply(lambda x : len(x) < 5)]

Empty DataFrame
Columns: [선수명, 등번호, 생년월일, 포지션, 신장/체중, 경력, 입단 계약금, 연봉, 지명순위, 입단년도, Team]
Index: []

In [ ]:
kbo_df['신장'] = kbo_df['신장/체중'].apply(lambda x : x.split('/')[0].replace("cm", ""))

In [ ]:
kbo_df = kbo_df[kbo_df['신장'] != ''].copy()

In [ ]:
kbo_df['신장'] = kbo_df['신장'].astype(int)

In [ ]:
kbo_df['체중'] = kbo_df['신장/체중'].apply(lambda x : int(x.split('/')[1].replace("kg", "")) )

In [ ]:
kbo_df['bmi'] = kbo_df['체중'] / (kbo_df['신장'] / 100) ** 2

In [ ]:
kbo_df.sort_values(by=['bmi'], ascending=False).tail()

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team,신장,체중,bmi
456,성지훈,No.57,2000년 01월 29일,투수(좌투좌타),181cm/68kg,송정동초-무등중-광주제일고-동아대,NaN,3000만원,23 한화 육성선수,24한화,한화 이글스,181,68,20.756387
462,엄상백,No.11,1996년 10월 04일,투수(우언우타),187cm/72kg,역삼초-언북중-덕수고-KT-상무-KT,23000만원,90000만원,15 KT 1차,15KT,한화 이글스,187,72,20.589665
227,이태규,No.45,2000년 02월 21일,투수(우투좌타),188cm/72kg,희망대초-매향중-장안고-KIA,8000만원,3000만원,19 KIA 2차 3라운드 30순위,23KIA,KT 위즈,188,72,20.371209
36,백선기,No.114,1998년 08월 27일,투수(좌투좌타),186cm/70kg,남도초-경상중-대구상원고-KT,5000만원,3000만원,18 KT 2차 7라운드 61순위,NaN,LG 트윈스,186,70,20.233553
254,강한울,No.6,1991년 09월 12일,내야수(우투좌타),181cm/66kg,사당초-중앙중-안산공고-원광대-KIA-삼성-상무,14000만원,7000만원,14 KIA 2차 1라운드 5순위,14KIA,삼성 라이온즈,181,66,20.145905

In [ ]:
import re

p = re.compile("[0-9]+")
list(map(int,p.findall("188cm/88kgl")))

[188, 88]